/* リセットCSS */
body {
  font-size: 14px;
  color: black;
  margin: 0 auto;
  background-color: white;
  text-align: center;
}
h1,h2,h3,h4,h5,h6,p {
  padding: 10px 0;
  margin: 0;
}
ul,li {
  padding: 0;
  margin: 0;
}

.title h1 {
  color: red;
  font-size: 350%;
}
.task h1, .task2 h1 {
  border-bottom: 5px solid red;
  width: 50%;
  margin-bottom: 10%;
  margin-top: 10%;
  display: block;
  font-size: 350%;
}
.task h2, .task2 h2 {
  font-size: 200%;
  display: block;
  margin-bottom: 1%;
}
.task h3, .task2 h3 {
  font-size: 180%;
  display: block;
  margin-bottom: 1%;
}
.task p, .task2 p {
  font-size: 110%;
  display: block;
  margin-bottom: 1%;
  border-top: solid;
}
.task2 h1 {
  margin-top: 10%;
}
.task2 {
  margin-bottom: 10%;
}