/* リセットCSS */
body {
  /* font-family: serif; */
  font-size: 14px;
  color: black;
  margin: 0 auto;
  /* background-color: white; */
}
h1,h2,h3,h4,h5,h6,p {
  padding: 10px 0;
  margin: 0;
}
ul,li {
  padding: 0;
  margin: 0;
}



/* header {
  height:5vh;
  width: 100%;
  background-color: red;
 } */

 .heading {
  width: 50%;
  margin-left: 30px;
}


.container {
  width: 100%;
}

.clearlist {
  content: "";
  display: block;
  clear: both;
}


#site_logo {
  /* float: left; */
  text-align: center;
  position: absolute;
  top: 20px;
  /* left: 100px; */
  width: 35%;
}

#site_logo h2{
  font-size: 250%;
  margin-top: 2%;
}

#site_addres {
  font-size: 0.8em;
  width: 60%;
float: right;
padding: 0px 10px;
/* padding: 0px 20px; */
font-family: serif;
text-align: right;
}

.site_tel {
  font-size: 0.8em;
  padding-right: 10px;
  float: right;
}

body {
  -webkit-text-size-adjust: 100%;
}

nav {
  padding: 5px;
  background-color: #d52f25;
  margin-top: 5%;
  margin-bottom: 5%;
  /* font-size: 15px; */
}

/* .nav-lists {
  margin: 10px;
  list-style: none;
  display: flex;
  justify-content: space-around;
} */

.table1 a{
  font-size: 100%;
  text-decoration: none;
  color: #fff;
}

nav ul::after{
  content:"";
  /* display: block; */
  clear: both;

}

nav li{
  float: left;
  width: 15%;
  text-align: center;
}

/* nav a {
  text-decoration: none;
  color: #fff;
} */

nav a:hover{
  opacity: 0.7;
}

.table1 {
  border-collapse: collapse;
  width: 100%;
}

.cast h1 {
  font-size: 2.0em;
  text-align: center;
  color: red;
}


section {
  margin-bottom: 60px;
  display: flex;
}


.pic {
  width: 25%;
  height: 25%;
  margin-top: 10%;
  margin-right: 32px;
}

.desc h2{
  border-bottom: 5px solid red;
}

ol{
  font-size: 150%;
}

section2 {
  display: flex;
}

h4{
  border-style: inset;
  margin-top: 10%;
}

.pic2 {
  width: 25%;
  height: 25%;
  margin-top: 10%;
  margin-right: 32px;
}


.desc {
  flex: 1;
}

img {
  max-width: 100%;
}

footer{
  background-color: red;
  height: 5vh; 
  width: 100%;
 }

 @media (max-width: 599px) {
   #site_logo h2{
     font-size: 100%;
     margin-top: initial;
   }

   .table1 a{
    font-size: 60%;
  }
  
  nav {
    height: 15px;
    padding: initial;
    padding-bottom: 8px;
    margin-top: initial;
  }

  ol {
    font-size: 100%;
  }

  h4{
    font-size: 70%;
  }
  .pic {
    width: 30%;
    height: 30%;
    margin-right: 32px;
  }
}