/* リセットCSS */
body {
  font-family: serif;
  font-size: 14px;
  color: black;
  margin: 0 auto;
  /* background-color: white; */
}
h1,h2,h3,h4,h5,h6,p {
  padding: 10px 0;
  margin: 0;
}
ul,li {
  padding: 0;
  margin: 0;
}

@media (max-width: 599px) {
ol {
    font-size: 30%;
  }
 h4{
    font-size: 50%;
  }
}

header {
  height:5vh;
  width: 100%;
  background-color: red;
 }

.cast h1 {
  font-size: 2.0em;
  text-align: center;
  color: red;
}


section {
  margin-bottom: 60px;
  display: flex;
}


.pic {
  width: 30%;
  height: 30%;
  margin-right: 32px;
}

h2{
  border-bottom: 5px solid red;
}

ol{
  font-size: 100%;
}

section2 {
  display: flex;
}

h4{
  border-style: inset;
  margin-top: 10%;
}

.pic2 {
  width: 30%;
  height: 30%;
  margin-right: 32px;
}


.desc {
  flex: 1;
}

img {
  max-width: 100%;
}

footer{
  background-color: red;
  height: 5vh; 
  width: 100%;
 }
